html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  background: #EEE;
}

p {
  line-height: 1.45;
}

.being {
  background: white;
  width: 25%;
  margin: 0 2%;
  display: inline-block;
  padding: 20px;
  margin-bottom: 20px;
}

.being img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.being h4:first-of-type {
  margin-bottom: 0;
}

.being h4 {
  margin-top: 5px;
}